@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
html[data-theme=light] {
  --white: #FFFFFF;
  --gray-100: #F3F6FF;
  --gray-200: #EFF2FC;
  --gray-300: #E2E5F1;
  --gray-400: #D4D7E5;
  --gray-500: #B4B7C9;
  --gray-600: #9397AD;
  --gray-700: #565973;
  --gray-800: #33354D;
  --gray-900: #0B0F19;
  --black: #000000;
  --logo-img: url("/img/silicon-logo-light.svg");
}

html[data-theme=dark] {
  --white: #000000;
  --gray-100: #0B0F19;
  --gray-200: #33354D;
  --gray-300: #565973;
  --gray-400: #9397AD;
  --gray-500: #B4B7C9;
  --gray-600: #D4D7E5;
  --gray-700: #E2E5F1;
  --gray-800: #EFF2FC;
  --gray-900: #F3F6FF;
  --black: #FFFFFF;
  --logo-img: url("/img/silicon-logo-dark.svg");
}

html, body {
  line-height: 160%;
  font-weight: 400;
  color: var(--gray-700);
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  margin: 0px;
  min-width: 420px;
  background-color: var(--white);
}

header, footer, section .container {
  padding: 0 1rem;
}

section {
  background-color: var(--white);
  padding: 5rem 0 7rem 0;
}

.text-xs {
  line-height: 160%;
  font-weight: 400;
  color: var(--gray-700);
  font-family: "Manrope", sans-serif;
  font-size: 12px !important;
}

.text-s {
  line-height: 160%;
  font-weight: 400;
  color: var(--gray-700);
  font-family: "Manrope", sans-serif;
  font-size: 14px !important;
}

.text-m {
  line-height: 160%;
  font-weight: 400;
  color: var(--gray-700);
  font-family: "Manrope", sans-serif;
  font-size: 16px !important;
}

.text-lg {
  line-height: 160%;
  font-weight: 400;
  color: var(--gray-700);
  font-family: "Manrope", sans-serif;
  font-size: 18px !important;
}

.text-xl {
  line-height: 160%;
  font-weight: 400;
  color: var(--gray-700);
  font-family: "Manrope", sans-serif;
  font-size: 20px !important;
}

.text-lead {
  line-height: 160%;
  font-weight: 400;
  color: var(--gray-700);
  font-family: "Manrope", sans-serif;
  font-size: 24px !important;
}

.d1 {
  line-height: 160%;
  font-weight: 400;
  color: var(--gray-700);
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: var(--gray-900);
  text-transform: capitalize;
  font-size: 80px !important;
}

.d2 {
  line-height: 160%;
  font-weight: 400;
  color: var(--gray-700);
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: var(--gray-900);
  text-transform: capitalize;
  font-size: 72px !important;
}

.d3 {
  line-height: 160%;
  font-weight: 400;
  color: var(--gray-700);
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: var(--gray-900);
  text-transform: capitalize;
  font-size: 64px !important;
}

.d4 {
  line-height: 160%;
  font-weight: 400;
  color: var(--gray-700);
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: var(--gray-900);
  text-transform: capitalize;
  font-size: 56px !important;
}

.d5 {
  line-height: 160%;
  font-weight: 400;
  color: var(--gray-700);
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: var(--gray-900);
  text-transform: capitalize;
  font-size: 48px !important;
}

.d6 {
  line-height: 160%;
  font-weight: 400;
  color: var(--gray-700);
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: var(--gray-900);
  text-transform: capitalize;
  font-size: 42px !important;
}

h1, .h1 {
  line-height: 160%;
  font-weight: 400;
  color: var(--gray-700);
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: var(--gray-900);
  text-transform: capitalize;
  font-size: 40px !important;
}

h2, .h2 {
  line-height: 160%;
  font-weight: 400;
  color: var(--gray-700);
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: var(--gray-900);
  text-transform: capitalize;
  font-size: 32px !important;
}

h3, .h3 {
  line-height: 160%;
  font-weight: 400;
  color: var(--gray-700);
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: var(--gray-900);
  text-transform: capitalize;
  font-size: 28px !important;
}

h4, .h4 {
  line-height: 160%;
  font-weight: 400;
  color: var(--gray-700);
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: var(--gray-900);
  text-transform: capitalize;
  font-size: 24px !important;
}

h5, .h5 {
  line-height: 160%;
  font-weight: 400;
  color: var(--gray-700);
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: var(--gray-900);
  text-transform: capitalize;
  font-size: 20px !important;
}

h6, .h6 {
  line-height: 160%;
  font-weight: 400;
  color: var(--gray-700);
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: var(--gray-900);
  text-transform: capitalize;
  font-size: 16px !important;
}

.form-label {
  line-height: 160%;
  font-weight: 400;
  color: var(--gray-700);
  font-family: "Manrope", sans-serif;
  font-size: 16px !important;
  font-weight: bold;
  color: var(--gray-900);
}

.wrapper {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.w-full {
  width: 100dvw;
}
@media (min-width: 992px) {
  .w-full {
    width: 100dvw;
  }
}

.w-max {
  width: 100%;
}
@media (min-width: 992px) {
  .w-max {
    max-width: 1296px;
  }
}

.w-half {
  width: 100%;
}
@media (min-width: 992px) {
  .w-half {
    max-width: 50%;
  }
}

.d-flex {
  display: flex;
}
.d-flex.column {
  flex-direction: column;
}
.d-flex.center {
  justify-content: center;
  align-items: center;
}

.d-none {
  display: none;
}

a {
  line-height: 160%;
  font-weight: 400;
  color: var(--gray-700);
  font-family: "Manrope", sans-serif;
  color: #6366F1;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
}
a:hover {
  text-decoration: underline;
}

.menu-link {
  line-height: 160%;
  font-weight: 400;
  color: var(--gray-700);
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  color: var(--gray-800);
  font-weight: 600 !important;
  text-decoration: none;
  transition: color 0.25s ease-in-out;
  cursor: pointer;
}
.menu-link:hover, .menu-link:active, .menu-link:focus,
.menu-link .active {
  color: #6366F1;
  text-decoration: none;
}

.btn-theme {
  width: fit-content;
  border-radius: 6px;
  text-align: center;
  font-size: 14px;
  padding: 8px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  background: #6366F1;
  color: #FFFFFF;
  border: none;
}
.btn-theme:hover {
  text-decoration: none;
  background: #565973;
  color: #FFFFFF;
}

.btn-theme-s {
  width: fit-content;
  border-radius: 6px;
  text-align: center;
  font-size: 14px;
  padding: 8px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  box-shadow: 0px 8px 18px -8px rgba(99, 102, 241, 0.9);
  background: #6366F1;
  color: #FFFFFF;
  padding-top: 10px;
  padding-bottom: 13px;
}
.btn-theme-s:hover {
  box-shadow: 0px 8px 18px -8px rgba(19, 16, 34, 0.15);
  text-decoration: none;
  background: #565973;
  color: #FFFFFF;
}

.btn-gray {
  width: fit-content;
  border-radius: 6px;
  text-align: center;
  font-size: 14px;
  padding: 8px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  background: #EFF2FC;
  color: #33354D;
  border: none;
}
.btn-gray:hover {
  text-decoration: none;
  background: #565973;
  color: #FFFFFF;
}

.btn-switch {
  display: flex;
  align-items: center;
  gap: 10px;
}
.btn-switch label {
  line-height: 160%;
  font-weight: 400;
  color: var(--gray-700);
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  color: var(--gray-800);
  font-weight: 600 !important;
}
.btn-switch .switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 25px;
}
.btn-switch .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.btn-switch .switch input:checked + .slider {
  background-color: #6366F1;
}
.btn-switch .switch input:focus + .slider {
  box-shadow: 0 0 1px #6366F1;
}
.btn-switch .switch input:checked + .slider:before {
  transform: translateX(20px);
  background-color: #FFFFFF;
}
.btn-switch .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #565973;
  transition: 0.4s;
}
.btn-switch .switch .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 2.7px;
  background-color: #FFFFFF;
  transition: 0.4s;
}
.btn-switch .switch .slider.round {
  border-radius: 34px;
}
.btn-switch .switch .slider.round:before {
  border-radius: 50%;
}

.btn-social {
  line-height: 160%;
  font-weight: 400;
  color: var(--gray-700);
  font-family: "Manrope", sans-serif;
  font-size: 20px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 44px;
  height: 44px;
  background-color: #EFF2FC;
  color: #33354D;
}
.btn-social:hover {
  text-decoration: none;
  background: #565973;
  color: #FFFFFF;
}

form .box {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
@media (min-width: 992px) {
  form .box {
    grid-template-columns: 1fr 1fr;
  }
}
form .input-box label {
  color: var(--gray-900);
  font-weight: bold;
}
form .input-box span {
  line-height: 160%;
  font-weight: 400;
  color: var(--gray-700);
  font-family: "Manrope", sans-serif;
  font-size: 12px !important;
  float: right;
  color: #EF4444;
}
form .input-box input {
  width: 100%;
  width: -webkit-fill-available;
}
form .input-box input.input-validation-error {
  border-color: #EF4444;
}
form .checkbox-box {
  cursor: pointer;
}
form .checkbox-box span {
  line-height: 160%;
  font-weight: 400;
  color: var(--gray-700);
  font-family: "Manrope", sans-serif;
  font-size: 12px !important;
  float: right;
  color: #EF4444;
}
form input {
  all: revert;
  line-height: 160%;
  font-weight: 400;
  color: var(--gray-700);
  font-family: "Manrope", sans-serif;
}
form input[type=text], form input[type=email], form input[type=tel], form input[type=password] {
  border: 1px solid var(--gray-500);
  border-radius: 8px;
  background-color: var(--white);
  color: var(--gray-700);
  padding: 0.5rem;
}
form input[type=text]::placeholder, form input[type=email]::placeholder, form input[type=tel]::placeholder, form input[type=password]::placeholder {
  opacity: 0.4;
}
form input[type=text]:active::placeholder, form input[type=text]:focus-visible::placeholder, form input[type=text]:focus-within::placeholder, form input[type=text]:focus::placeholder, form input[type=email]:active::placeholder, form input[type=email]:focus-visible::placeholder, form input[type=email]:focus-within::placeholder, form input[type=email]:focus::placeholder, form input[type=tel]:active::placeholder, form input[type=tel]:focus-visible::placeholder, form input[type=tel]:focus-within::placeholder, form input[type=tel]:focus::placeholder, form input[type=password]:active::placeholder, form input[type=password]:focus-visible::placeholder, form input[type=password]:focus-within::placeholder, form input[type=password]:focus::placeholder {
  color: var(--white);
}
form textarea {
  all: revert;
  line-height: 160%;
  font-weight: 400;
  color: var(--gray-700);
  font-family: "Manrope", sans-serif;
  width: 100%;
  width: -webkit-fill-available;
  border: 1px solid var(--gray-500);
  border-radius: 8px;
  background-color: var(--white);
  color: var(--gray-700);
  padding: 0.5rem;
}
form textarea::placeholder {
  opacity: 0.4;
}
form textarea:active::placeholder, form textarea:focus-visible::placeholder, form textarea:focus-within::placeholder, form textarea:focus::placeholder {
  color: var(--white);
}
form .validation-summary-errors {
  color: #0B0F19;
  background-color: pink;
  border: 1px solid #EF4444;
  padding: 1rem;
  border-radius: 8px;
}
form .validation-summary-errors ul li {
  text-align: center;
}

header {
  padding: 1rem;
  background-color: var(--white);
}
header .header-avatar img {
  max-height: 2.75rem;
  max-width: 2.75rem;
  border-radius: 50%;
}
header .container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
  grid-template-areas: "logo mobile" "menu menu";
  gap: 0px;
}
@media (min-width: 992px) {
  header .container {
    grid-template-columns: auto 1fr;
    grid-template-areas: "logo menu";
    gap: 40px;
  }
}
header .container #logo {
  grid-area: logo;
}
header .container #logo img {
  content: var(--logo-img);
}
header .container #menu {
  width: 100%;
  padding: 0;
  transition: all 0.5s ease-in-out;
  display: none;
  overflow: hidden;
  grid-area: menu;
  justify-self: center;
  justify-items: center;
  gap: 40px;
  grid-template-columns: 1fr;
  grid-template-areas: "buttons" "navigation" "switch";
}
@media (min-width: 992px) {
  header .container #menu {
    display: grid;
    height: auto;
    justify-self: auto;
    justify-items: flex-start;
    grid-template-columns: 1fr auto auto;
    grid-template-areas: "navigation switch buttons";
  }
}
header .container #menu.active {
  display: grid;
  overflow: auto;
  padding: 1.25rem 0;
}
header .container #menu nav {
  grid-area: navigation;
  display: flex;
  gap: 15px;
  /*  a.nav-link {
      @include text-nav;
      @include transition;
      display: flex;
      align-items: center;
      cursor: pointer;
      &:hover{
          text-decoration: none;
          color: $theme;
      }
  }*/
}
header .container #menu .btn-switch {
  grid-area: switch;
}
@media (min-width: 992px) {
  header .container #menu .btn-switch {
    display: flex;
  }
}
header .container #menu .header-profile img {
  height: 3rem;
  border-radius: 50%;
}
header .container #menu .account-buttons {
  grid-area: buttons;
  display: flex;
  justify-content: center;
  gap: 15px;
}
@media (min-width: 992px) {
  header .container #menu .account-buttons {
    display: flex;
  }
}
header .container .btn-mobile {
  grid-area: mobile;
  display: block;
  line-height: 160%;
  font-weight: 400;
  color: var(--gray-700);
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: var(--gray-900);
  text-transform: capitalize;
  font-size: 32px !important;
}
@media (min-width: 992px) {
  header .container .btn-mobile {
    display: none;
  }
}

footer {
  padding: 50px 0 30px 0;
  display: flex;
  justify-content: center;
  line-height: 160%;
  font-weight: 400;
  color: var(--gray-700);
  font-family: "Manrope", sans-serif;
  font-size: 14px !important;
  color: var(--gray-600);
  background-color: var(--white);
}
footer .container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .container .social-media {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}
footer .container .social-media a {
  padding: 20px;
}
footer .container .social-media a i {
  font-size: 1.25rem;
}
footer .container .copyright {
  max-width: 85%;
}
@media (min-width: 992px) {
  footer .container .copyright {
    max-width: 60%;
  }
}

section.hero {
  width: 100%;
  background-color: var(--white);
  position: relative;
}
section.hero div .content {
  gap: 3rem;
  align-items: center;
}
@media (min-width: 992px) {
  section.hero div .content {
    align-items: flex-start;
  }
}
section.hero div .content h1 {
  text-align: center;
  line-height: 1.25;
  max-width: 80dvw;
}
@media (min-width: 992px) {
  section.hero div .content h1 {
    text-align: left;
    max-width: 100dvw;
  }
}
section.hero div .content p {
  text-align: center;
  max-width: 65dvw;
}
@media (min-width: 992px) {
  section.hero div .content p {
    text-align: left;
    max-width: 100dvw;
  }
}
section.hero div .content .brands {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
@media (min-width: 992px) {
  section.hero div .content .brands {
    justify-content: flex-start;
  }
}
@media (min-width: 1400px) {
  section.hero div {
    display: flex;
  }
}
section.hero .hero-img {
  display: none;
  width: 50%;
  position: absolute;
  right: 0;
  top: 0;
}
@media (min-width: 992px) {
  section.hero .hero-img {
    display: initial;
    max-width: fit-content;
  }
}
@media (min-width: 1400px) {
  section.hero .hero-img {
    position: inherit;
  }
}

section.whatuget {
  background-color: var(--gray-100);
}
section.whatuget .grid {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 768px) {
  section.whatuget .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 992px) {
  section.whatuget .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
section.whatuget .grid a {
  transition: all 0.3s ease-in-out;
  padding: 2rem;
  background-color: var(--gray-100);
}
section.whatuget .grid a:hover {
  box-shadow: 0px 2px 6.4px -1px rgba(19, 16, 34, 0.03), 0px 4.4px 12px -1px rgba(19, 16, 34, 0.06);
  background-color: var(--white);
  border-radius: 8px;
  text-decoration: none;
}
@media (min-width: 992px) {
  section.whatuget .grid a {
    border: none;
  }
}
@media (max-width: 768px) {
  section.whatuget a:not(:last-of-type) {
    border-bottom: 1px solid var(--gray-400);
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  section.whatuget a:nth-child(odd) {
    border-right: 1px solid var(--gray-400);
  }
  section.whatuget a:nth-child(-n+4) {
    border-bottom: 1px solid var(--gray-400);
  }
}
@media (min-width: 992px) {
  section.whatuget a:not(:nth-child(3n+3)) {
    border-right: 1px solid var(--gray-400);
  }
  section.whatuget a:nth-child(-n+3) {
    border-bottom: 1px solid var(--gray-400);
  }
}

section.lightdarkswitch .container {
  background-color: #FFFFFF;
  padding: 0;
}

section.manageyourwork .container {
  flex-direction: column-reverse;
  gap: none;
}
@media (min-width: 992px) {
  section.manageyourwork .container {
    flex-direction: row;
    gap: 5rem;
  }
}
@media (min-width: 992px) {
  section.manageyourwork .container img {
    max-width: 45%;
  }
}
@media (min-width: 1200px) {
  section.manageyourwork .container img {
    max-width: 65%;
  }
}
section.manageyourwork .container .content ul {
  padding: 2rem 0;
}
section.manageyourwork .container .content ul li {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-bottom: 0.75rem;
}
section.manageyourwork .container .content ul li::before {
  height: 22px;
  width: 22px;
  content: "";
  display: inline-block;
  background-image: url(/img/icons/bx-check-circle.svg);
  background-repeat: no-repeat;
}

section.downloadourapp {
  background-color: var(--gray-100);
}
section.downloadourapp .container {
  flex-direction: column-reverse;
  align-items: center;
  gap: 3rem;
}
@media (min-width: 992px) {
  section.downloadourapp .container {
    flex-direction: row;
  }
}
section.downloadourapp .container .content {
  gap: 3rem;
}
section.downloadourapp .container .content ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media (min-width: 992px) {
  section.downloadourapp .container .content {
    max-width: 33%;
  }
}

section.integratetoptools .ingress {
  padding: 1rem 0 3rem 0;
  text-align: center;
}
@media (min-width: 992px) {
  section.integratetoptools .ingress {
    max-width: 50dvw;
  }
}
section.integratetoptools .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
@media (min-width: 768px) {
  section.integratetoptools .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  section.integratetoptools .grid {
    margin: 0;
  }
}
section.integratetoptools .grid .grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
}
@media (min-width: 768px) {
  section.integratetoptools .grid .grid-item {
    align-items: flex-start;
  }
}
section.integratetoptools .grid .grid-item:hover {
  box-shadow: 0px 2px 6.4px -1px rgba(19, 16, 34, 0.03), 0px 4.4px 12px -1px rgba(19, 16, 34, 0.06);
}
section.integratetoptools .grid .grid-item p {
  padding-top: 1rem;
}

section.newsletter {
  background-color: var(--gray-100);
}
section.newsletter .container {
  max-width: 100%;
}
@media (min-width: 992px) {
  section.newsletter .container {
    max-width: 65dvw;
  }
}
section.newsletter .container .heading {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}
@media (min-width: 992px) {
  section.newsletter .container .heading {
    justify-content: flex-start;
  }
}
section.newsletter .container .heading img {
  margin-top: 1rem;
}
section.newsletter .container form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
section.newsletter .container form .selections {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 992px) {
  section.newsletter .container form .selections {
    flex-direction: row;
  }
}
section.newsletter .container form .selections h3 {
  flex-basis: auto;
}
@media (min-width: 992px) {
  section.newsletter .container form .selections h3 {
    flex-basis: 10rem;
  }
}
section.newsletter .container form .selections .checkboxgrid {
  display: grid;
  gap: 1rem 3rem;
  grid-template-columns: 1fr 1fr;
}
@media (min-width: 768px) {
  section.newsletter .container form .selections .checkboxgrid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 992px) {
  section.newsletter .container form .selections .checkboxgrid {
    gap: 1rem;
  }
}
section.newsletter .container form .selections .checkboxgrid .griditem {
  display: flex;
}
section.newsletter .container form .submitbox {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 992px) {
  section.newsletter .container form .submitbox {
    flex-direction: row;
  }
}
section.newsletter .container form .submitbox label {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  gap: 0.5rem;
  height: 2rem;
  padding: 0 0.5rem;
  border: 1px solid var(--gray-500);
  border-radius: 8px;
  background-color: var(--white);
}
section.newsletter .container form .submitbox label i {
  color: var(--gray-500);
}
section.newsletter .container form .submitbox label:focus-within {
  border-color: #6366F1;
}
section.newsletter .container form .submitbox label:focus-within i {
  display: none;
}
section.newsletter .container form .submitbox label #email {
  height: auto;
  color: var(--gray-500);
  width: 100%;
  border: none;
  padding: 0;
}
section.newsletter .container form .submitbox label #email:focus, section.newsletter .container form .submitbox label #email:focus-visible {
  color: var(--gray-700);
  outline: none;
}
section.newsletter .container form .submitbox label #email:focus::placeholder, section.newsletter .container form .submitbox label #email:focus-visible::placeholder {
  color: var(--white);
}

section.user-login .container {
  width: 100%;
}
@media (min-width: 992px) {
  section.user-login .container {
    width: 33dvw;
  }
}
section.user-login .container #login-form fieldset {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
section.user-login .container #login-form fieldset label {
  width: 100%;
}
section.user-login .container #login-form fieldset label input [type=email], section.user-login .container #login-form fieldset label input[type=password] {
  padding-left: 0.5rem;
}
section.user-login .container #login-form fieldset button {
  width: 100%;
}
section.user-login .container #login-form fieldset .remember-box {
  display: flex;
  gap: 0.5rem;
}
section.user-login .container a {
  margin-top: 1rem;
  align-self: center;
}

section.create-account-form .container {
  width: 100%;
}
@media (min-width: 992px) {
  section.create-account-form .container {
    width: 33dvw;
  }
}
section.create-account-form .container #create-account-form fieldset {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
section.create-account-form .container #create-account-form fieldset button {
  width: 100%;
}
section.create-account-form .container #create-account-form fieldset .name-box {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: space-between;
}
section.create-account-form .container #create-account-form fieldset .name-box label {
  width: 100%;
}
@media (min-width: 992px) {
  section.create-account-form .container #create-account-form fieldset .name-box {
    flex-direction: row;
  }
}
section.create-account-form .container #create-account-form fieldset .terms-box {
  display: flex;
  gap: 0.5rem;
}
section.create-account-form .container #create-account-form fieldset .terms-box label {
  display: inline;
}
section.create-account-form .container a {
  margin-top: 1rem;
  align-self: center;
}

section.account-details .container {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-areas: "side" "details";
}
@media (min-width: 1200px) {
  section.account-details .container {
    gap: 5rem;
    grid-template-columns: auto 1fr;
    grid-template-areas: "side details";
  }
}
section.account-details .container .side {
  padding: 0 3rem;
  grid-area: side;
  display: grid;
  grid-template-columns: auto 2rem auto;
  grid-template-areas: "avatar . shortinfo" "avatar . buttons";
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
@media (min-width: 1200px) {
  section.account-details .container .side {
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--gray-300);
  }
}
section.account-details .container .side .avatar-box {
  grid-area: avatar;
  position: relative;
  height: 120px;
  width: 120px;
  border-radius: 50%;
}
section.account-details .container .side .avatar-box .avatar-img {
  width: 100%;
  border-radius: 50%;
}
section.account-details .container .side .avatar-box .change-avatar {
  position: absolute;
  bottom: 0rem;
  right: 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  background-color: var(--white);
  border: 1px solid var(--gray-300);
  border-radius: 15px;
  cursor: pointer;
}
section.account-details .container .side .avatar-box .change-avatar #fileUploader {
  display: none;
}
section.account-details .container .side .avatar-box .change-avatar label {
  display: flex;
  justify-content: center;
  align-items: center;
}
section.account-details .container .side .short-info-box {
  grid-area: shortinfo;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.account-details .container .side .buttons-box {
  grid-area: buttons;
}
section.account-details .container .side .buttons-box button {
  width: 100%;
}
section.account-details .container .side .buttons-box .btn-white {
  width: fit-content;
  border-radius: 6px;
  text-align: center;
  font-size: 14px;
  padding: 8px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}
section.account-details .container .details {
  grid-area: details;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
section.account-details .container .details #basic-info {
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--gray-500);
}
section.account-details .container .details #details-bio label span {
  line-height: 160%;
  font-weight: 400;
  color: var(--gray-700);
  font-family: "Manrope", sans-serif;
  font-size: 12px !important;
  color: var(--gray-500);
  float: none;
}
section.account-details .container .details form fieldset {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
section.account-details .container .details .buttons-box {
  display: flex;
  gap: 1rem;
}

section.breadcrumbs .container {
  color: var(--gray-500);
  align-items: center;
  gap: 1rem;
}
section.breadcrumbs .container a {
  color: var(--gray-500);
}
section.breadcrumbs .container a.active {
  color: #6366F1;
}

section.courses .container {
  gap: 3rem;
}
section.courses .heading-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section.courses .heading-box .input-box {
  display: flex;
  gap: 1rem;
}
section.courses .heading-box .input-box #category-filter select {
  line-height: 160%;
  font-weight: 400;
  color: var(--gray-700);
  font-family: "Manrope", sans-serif;
  font-size: 12px !important;
  border: 1px solid var(--gray-500);
  border-radius: 8px;
  color: var(--gray-700);
  padding: 0.5rem 0.75rem;
}
section.courses .heading-box .input-box #search {
  position: relative;
}
section.courses .heading-box .input-box #search i {
  position: absolute;
  right: 0.5rem;
  top: 30%;
  color: var(--gray-800);
}
section.courses .grid-box {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
}
@media (min-width: 768px) {
  section.courses .grid-box {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 992px) {
  section.courses .grid-box {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
section.courses .grid-box .grid-item {
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 2px 6.4px -1px rgba(19, 16, 34, 0.03), 0px 4.4px 12px -1px rgba(19, 16, 34, 0.06);
  position: relative;
  border-radius: 8px;
}
section.courses .grid-box .grid-item:hover {
  box-shadow: 0px 4px 13px -2px rgba(19, 16, 34, 0.06), 0px 4.8px 24.4px -6px rgba(19, 16, 34, 0.1);
  /*scale: 1.01;*/
}
section.courses .grid-box .grid-item:hover .content .text-box p.h5 {
  text-decoration: underline;
}
section.courses .grid-box .grid-item .content {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 0.5rem;
}
section.courses .grid-box .grid-item .content img {
  border-radius: 8px 8px 0 0;
  max-height: 300px;
  width: 100%;
  object-fit: cover;
}
section.courses .grid-box .grid-item .content .text-box {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0 1rem 1rem 1rem;
}
section.courses .grid-box .grid-item .content .text-box p.h5 {
  flex: 1 1 auto;
}
section.courses .grid-box .grid-item .content .text-box .price {
  flex: 0 1 auto;
  font-weight: bold;
}
section.courses .grid-box .grid-item .content .text-box .price.sale-new {
  color: #EF4444;
}
section.courses .grid-box .grid-item .content .text-box .price.sale-old {
  color: var(--gray-500);
  font-weight: 500;
  text-decoration: line-through;
}
section.courses .grid-box .grid-item .content .text-box .info-box {
  flex: 0 1 auto;
  display: flex;
  gap: 1rem;
  padding-top: 1rem;
  border-top: 1px solid var(--gray-300);
}
section.courses .grid-box .grid-item .content .text-box .info-box .hours, section.courses .grid-box .grid-item .content .text-box .info-box .rating {
  color: var(--gray-600);
}
section.courses .grid-box .grid-item .tag {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: var(--white);
  background-color: #22C55E;
  padding: 0.25rem 0.5rem;
  border-radius: 8px;
}
section.courses .grid-box .grid-item .bookmark {
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: var(--white);
  height: 2.25rem;
  width: 2.25rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.courses .grid-box .grid-item .bookmark i {
  display: block;
  color: var(--gray-800);
  font-size: 18px;
}
section.courses .grid-box .grid-item .bookmark:hover {
  background-color: #6366F1;
}
section.courses .grid-box .grid-item .bookmark:hover i {
  color: var(--white);
}

section.workwithus {
  background-color: var(--gray-100);
}
@media (min-width: 992px) {
  section.workwithus {
    background-color: var(--white);
  }
}
section.workwithus .container {
  display: flex;
  flex-direction: column-reverse;
  background-color: var(--gray-100);
  padding: 3rem 1rem;
  gap: 1rem;
}
@media (min-width: 992px) {
  section.workwithus .container {
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    padding: 2rem 4rem;
  }
}
section.workwithus .container .text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
section.workwithus .container .text span {
  color: #6366F1;
}
@media (min-width: 1200px) {
  section.workwithus .container .text {
    padding: 5rem;
  }
}
