@* KRÄVER VIEWMODEL *@

<div class="avatar-box">
    <img class="avatar-img" src="~/img/uploads/profiles/@(Model.ProfileInfo!.ProfileImg)" alt="">
    <div class="change-avatar">
        <img src="~/img/icons/bx-refresh.svg" alt="">
    </div>
</div>
<div class="short-info-box">
    <p class="h5">@($"{Model.ProfileInfo!.FirstName} {Model.ProfileInfo.LastName}")</p>
    <p class="text-m">@($"{Model.ProfileInfo.Email}")</p>
</div>
<div class="buttons-box">
    <button class="btn-theme" asp-controller="User" asp-action="Details">
        <i class="fas fa-cog"></i>
        <p>Account Details</p>
    </button>
    <a type="button" class="btn-white" asp-controller="Auth" asp-action="Signout">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
        <p>Sign out</p>
    </a>
</div>