@model UserDetailsViewModel

<section class="account-details w-full d-flex center">
    <div class="container w-max">
        <aside class="side">
            <div class="avatar-box">
                <img class="avatar-img" src="~/img/avatar.svg" alt="">
                <div class="change-avatar">
                    <img src="~/img/icons/bx-refresh.svg" alt="">
                </div>
            </div>
            <div class="short-info-box">
                <p class="h5">@($"{Model.BasicInfo!.FirstName} {Model.BasicInfo.LastName}")</p>
                <p class="text-m">@($"{Model.BasicInfo.Email}")</p>
            </div>
            <div class="buttons-box">
                <button class="btn-theme" asp-controller="User" asp-action="Details">
                    <i class="fas fa-cog"></i>
                    <p>Account Details</p>
                </button>
                <button class="btn-white">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    <p>Sign out</p>
                </button>
            </div>
        </aside>

        <div class="details">
            <h1>Account details</h1>
            @* <div>
                @TempData["StatusMessage"]
            </div> *@
            <partial name="~/Views/Shared/Forms/_UserBasicInfoForm.cshtml" model="Model" />
            <partial name="~/Views/Shared/Forms/_UserAddressForm.cshtml" model="Model"/>
        </div>
    </div>
</section>