<section class="breadcrumbs w-full d-flex center">
    <div class="container w-max d-flex">
        <i class="fa-solid fa-house"></i>
        <p><a href="">Home</a> » <a href="" class="active">Courses</a></p>
    </div>
</section>