<section class="courses w-full d-flex center">
    <div class="container w-max d-flex column">
        <div class="heading-box">
            <h1>Courses</h1>
            <div class="input-box">
                <form id="categories" action="">
                    <input list="browsers" placeholder="All categories">
                    <datalist id="browsers">
                        <option value="Edge" />
                        <option value="Firefox" />
                        <option value="Chrome" />
                        <option value="Opera" />
                        <option value="Safari" />
                </datalist>
                </form>
                <form id="search" action="">
                    <input type="text" placeholder="Search Courses">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </form>
            </div>
        </div>
        <div class="grid-box">
            <div class="grid-item">
                <a href="" class="content">
                    <img src="~/img/courses/laptop.png" alt="">
                    <div class="text-box">
                        <p class="h5">Fullstack web developer courses from scratch</p>
                        <p class="text-s">By Robert Fox</p>
                        <p class="text-l price">$12.50</p>
                        <div class="info-box">
                            <p class="text-s hours">220 hours</p>
                            <p class="text-s rating">94% (4.2K)</p>
                        </div>
                    </div>
                </a>
                <div class="text-s tag">Best Seller</div>
                <button class="bookmark">
                    <i class="fa-regular fa-bookmark"></i>
                </button>
            </div>
            <div class="grid-item">
                <a href="" class="content">
                    <img src="~/img/courses/laptop.png" alt="">
                    <div class="text-box">
                        <p class="h5">Fullstack web developer courses from scratch</p>
                        <p class="text-s">By Robert Fox</p>
                        <p class="text-l price sale">$12.50</p>
                        <div class="info-box">
                            <p class="text-s hours">220 hours</p>
                            <p class="text-s rating">94% (4.2K)</p>
                        </div>
                    </div>
                </a>
                <div class="text-s tag">Best Seller</div>
                <button class="bookmark">
                    <i class="fa-regular fa-bookmark"></i>
                </button>
            </div>
            <div class="grid-item">
                <a href="" class="content">
                    <img src="~/img/courses/laptop.png" alt="">
                    <div class="text-box">
                        <p class="h5">Fullstack web developer courses from scratch</p>
                        <p class="text-s">By Robert Fox</p>
                        <p class="text-l price">$12.50</p>
                        <div class="info-box">
                            <p class="text-s hours">220 hours</p>
                            <p class="text-s rating">94% (4.2K)</p>
                        </div>
                    </div>
                </a>
                <div class="text-s tag">Best Seller</div>
                <button class="bookmark">
                    <i class="fa-regular fa-bookmark"></i>
                </button>
            </div>
            <div class="grid-item">
                <a href="" class="content">
                    <img src="~/img/courses/laptop.png" alt="">
                    <div class="text-box">
                        <p class="h5">Fullstack web developer courses from scratch</p>
                        <p class="text-s">By Robert Fox</p>
                        <p class="text-l price">$12.50</p>
                        <div class="info-box">
                            <p class="text-s hours">220 hours</p>
                            <p class="text-s rating">94% (4.2K)</p>
                        </div>
                    </div>
                </a>
                <div class="text-s tag">Best Seller</div>
                <button class="bookmark">
                    <i class="fa-regular fa-bookmark"></i>
                </button>
            </div>
            <div class="grid-item">
                <a href="" class="content">
                    <img src="~/img/courses/laptop.png" alt="">
                    <div class="text-box">
                        <p class="h5">Fullstack web developer courses from scratch</p>
                        <p class="text-s">By Robert Fox</p>
                        <p class="text-l price">$12.50</p>
                        <div class="info-box">
                            <p class="text-s hours">220 hours</p>
                            <p class="text-s rating">94% (4.2K)</p>
                        </div>
                    </div>
                </a>
                <div class="text-s tag">Best Seller</div>
                <button class="bookmark">
                    <i class="fa-regular fa-bookmark"></i>
                </button>
            </div>
            <div class="grid-item">
                <a href="" class="content">
                    <img src="~/img/courses/laptop.png" alt="">
                    <div class="text-box">
                        <p class="h5">Fullstack web developer courses from scratch</p>
                        <p class="text-s">By Robert Fox</p>
                        <p class="text-l price">$12.50</p>
                        <div class="info-box">
                            <p class="text-s hours">220 hours</p>
                            <p class="text-s rating">94% (4.2K)</p>
                        </div>
                    </div>
                </a>
                <div class="text-s tag">Best Seller</div>
                <button class="bookmark">
                    <i class="fa-regular fa-bookmark"></i>
                </button>
            </div>
            <div class="grid-item">
                <a href="" class="content">
                    <img src="~/img/courses/laptop.png" alt="">
                    <div class="text-box">
                        <p class="h5">Fullstack web developer courses from scratch</p>
                        <p class="text-s">By Robert Fox</p>
                        <p class="text-l price">$12.50</p>
                        <div class="info-box">
                            <p class="text-s hours">220 hours</p>
                            <p class="text-s rating">94% (4.2K)</p>
                        </div>
                    </div>
                </a>
                <div class="text-s tag">Best Seller</div>
                <button class="bookmark">
                    <i class="fa-regular fa-bookmark"></i>
                </button>
            </div>
        </div>
        <div class="pagination-box">

        </div>
    </div>
</section>