<section class="downloadourapp w-full d-flex center">
    <div class="container w-max d-flex">
        <img src="~/img/app.png" alt="">
        <div class="content d-flex column">
            <h2 class="h1">Download our app for any devices</h2>
            <ul>
                <li>
                    <p class="text-m">App Store</p>
                    <div class="score">
                        <img src="~/img/icons/star.svg" alt="">
                        <img src="~/img/icons/star.svg" alt="">
                        <img src="~/img/icons/star.svg" alt="">
                        <img src="~/img/icons/star.svg" alt="">
                        <img src="~/img/icons/star.svg" alt="">
                    </div>
                    <div class="box">
                        <div class="text">
                            <h3 class="h4">Editor's choice</h3>
                            <p class="text-m">rating 4.7, 187K+ reviews</p>
                        </div>
                        <a href="">
                            <img src="~/img/appstore.svg" alt="">
                        </a>
                    </div>
                </li>
                <li>
                    <p class="text-m">Google Play</p>
                    <div class="score">
                        <img src="~/img/icons/star.svg" alt="">
                        <img src="~/img/icons/star.svg" alt="">
                        <img src="~/img/icons/star.svg" alt="">
                        <img src="~/img/icons/star.svg" alt="">
                        <img src="~/img/icons/star.svg" alt="">
                    </div>
                    <div class="box">
                        <div class="text">
                            <h3 class="h4">App of the day</h3>
                            <p class="text-m">rating 4.8, 30K+ reviews</p>
                        </div>
                        <a href="">
                            <img src="~/img/googleplay.svg" alt="">
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>