<section class="hero w-full d-flex center">
    <div class="container w-max">
        <div class="content w-half d-flex column center">
            <h1 class="d4">Task management assistant you gonna love</h1>
            <p class="text-lg">We offer you a new generation of task management system. Plan, manage & track all your tasks in one flexible tool.</p>
            <a class="btn-theme">Get started for free</a>
            <p class="h6">Largest companies use our tool to work efficiently</p>
            <div class="brands">
                <img src="./img/logoipsum1.svg" alt="">
                <img src="./img/logoipsum2.svg" alt="">
                <img src="./img/logoipsum3.svg" alt="">
                <img src="./img/logoipsum4.svg" alt="">
            </div>
        </div>

        <img class="hero-img" src="./img/hero.png" alt="">
    </div>
</section>