<section class="integratetoptools w-full d-flex center">
    <div class="container w-max d-flex column center">
        <h2 class="h1">Integrate top work tools</h2>
        <p class="text-lg ingress">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat mollis egestas. Nam luctus facilisis ultrices. Pellentesque volutpat ligula est. Mattis fermentum, at nec lacus.</p>
        <div class="grid">
            <div class="grid-item">
                <img src="~/img/icons/Google.svg" alt="">
                <p class="text-m">Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
            </div>
            <div class="grid-item">
                <img src="~/img/icons/Zoom.svg" alt="">
                <p class="text-m">Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
            </div>
            <div class="grid-item">
                <img src="~/img/icons/brand1.svg" alt="">
                <p class="text-m">Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
            </div>
            <div class="grid-item">
                <img src="~/img/icons/Gmail.svg" alt="">
                <p class="text-m">Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
            </div>
            <div class="grid-item">
                <img src="~/img/icons/Trello.svg" alt="">
                <p class="text-m">Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
            </div>
            <div class="grid-item">
                <img src="~/img/icons/Mailchimp.svg" alt="">
                <p class="text-m">Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
            </div>
            <div class="grid-item">
                <img src="~/img/icons/Dropbox.svg" alt="">
                <p class="text-m">Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
            </div>
            <div class="grid-item">
                <img src="~/img/icons/Evernote.svg" alt="">
                <p class="text-m">Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
            </div>
        </div>
    </div>
</section>