<section class="user-login w-full d-flex center">
    <div class="container d-flex column">
        
        <partial name="~/Views/Shared/Forms/_UserLoginForm.cshtml" model="Model"/>

        @* !! Change Action *@
        <a asp-controller="User" asp-action="SignIn">Forgot your password?</a> 
    </div>
</section>