<section class="user-login w-full d-flex center">
    <div class="container d-flex column">
        
        <partial name="~/Views/Shared/Forms/_UserLoginForm.cshtml" model="Model"/>

        <a href="">Forgot your password?</a>
    </div>
</section>