<section class="manageyourwork w-full d-flex center">
    <div class="container w-max d-flex center">
        <img src="./img/dashboard.png" alt="">
        <div class="content">
            <h2>Manage your work</h2>
            <ul>
                <li>Powerful project management</li>
                <li>Transparent work management</li>
                <li>Manage work & focus on the most important tasks</li>
                <li>Track your progress with interactive charts</li>
                <li>Easiest way to track time spent on tasks</li>
            </ul>
            <a class="btn-theme">
                <span>Learn more</span>
                <i class="fa-solid fa-arrow-right"></i>
            </a>
        </div>
    </div>
</section>