<section class="newsletter w-full d-flex center">
    <div class="container d-flex column">
        <div class="heading">
            <h2 class="h1">Don't want to miss anything?</h2>
            <img src="./img/arrows.svg" alt="">
        </div>
        <form>
            <div class="selections">
                <h3 class="h5">Sign up for newsletters</h3>
                <div class="checkboxgrid">
                    <div class="griditem">
                        <input type="checkbox" id="daily" name="daily" value="dailyNewsletter">
                        <label for="daily" class="text-s"> Daily Newsletter</label>
                    </div>
                    <div class="griditem">
                        <input type="checkbox" id="advert" name="advert" value="advertisingUpdate">
                        <label for="advert" class="text-s"> Advertising Updates</label>
                    </div>
                    <div class="griditem">
                        <input type="checkbox" id="week" name="week" value="weekReview">
                        <label for="week" class="text-s"> Week in Review</label>
                    </div>
                    <div class="griditem">
                        <input type="checkbox" id="event" name="event" value="eventUpdate">
                        <label for="event" class="text-s"> Event Updates</label>
                    </div>
                    <div class="griditem">
                        <input type="checkbox" id="startups" name="startups" value="startupsWeekley">
                        <label for="startups" class="text-s"> Startups Weekly</label>
                    </div>
                    <div class="griditem">
                        <input type="checkbox" id="podcasts" name="podcasts" value="podcasts">
                        <label for="podcasts" class="text-s"> Podcasts</label>
                    </div>
                </div>
            </div>
            <div class="submitbox">
                <label for="email">
                    <i class="fa-regular fa-envelope"></i>
                    <input type="text" id="email" name="email" placeholder="Your Email">
                </label>

                <input type="submit" class="btn-theme" value="*Submit">
            </div>
            <p class="text-s">* Yes, I agree to the <a href="">terms</a> and <a href="">privacy policy</a>.</p>

        </form>

    </div>

</section>