<section class="whatuget w-full d-flex center">
    <div class="container w-max d-flex column center">
        <h2>What do you get with our tool?</h2>
        <p>Make sure all your tasks are organized so you can set the priorities and focus on important.</p>
        <div class="grid">
            <a href="#" class="d-flex column center">
                <img src="./img/icons/comment_on_tasks.svg" alt="">
                <p class="h5">Comments on Tasks</p>
                <p class="text-m">Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
            </a>
            <a href="#" class="d-flex column center">
                <img src="./img/icons/task_analytics.svg" alt="">
                <p class="h5">Task Analytics</p>
                <p class="text-m">Non imperdiet facilisis nulla tellus Morbi scelerisque eget adipiscing vulputate.</p>
            </a>
            <a href="#" class="d-flex column center">
                <img src="./img/icons/multiple_assignees.svg" alt="">
                <p class="h5">Multiple Assignees</p>
                <p class="text-m">A elementum, imperdiet enim, pretium etiam facilisi in aenean quam mauris.</p>
            </a>
            <a href="#" class="d-flex column center">
                <img src="./img/icons/notifications.svg" alt="">
                <p class="h5">Notifications</p>
                <p class="text-m">Diam, suspendisse velit cras ac. Lobortis diam volutpat, eget pellentesque viverra.</p>
            </a>
            <a href="#" class="d-flex column center">
                <img src="./img/icons/sections_subtasks.svg" alt="">
                <p class="h5">Sections & Subtasks</p>
                <p class="text-m">Mi feugiat hac id in. Sit elit placerat lacus nibh lorem ridiculus lectus.</p>
            </a>
            <a href="#" class="d-flex column center">
                <img src="./img/icons/data_security.svg" alt="">
                <p class="h5">Data Security</p>
                <p class="text-m">Aliquam malesuada neque eget elit nulla vestibulum nunc cras.</p>
            </a>
        </div>
    </div>
</section>