<section class="workwithus w-full d-flex center">
    <div class="container w-max d-flex">
        <div class="text">
            <p class="text-lead">Ready to get started?</p>
            <h2 class="h1">Take your <span>skills</span> to the next level</h2>
            <button class="btn-theme">Work with us</button>
        </div>

        <img src="~/img/desk.svg" alt="">
    </div>
</section>