@model SubscribeViewModel

<form method="post" id="login-form" asp-controller="Home" asp-action="SubscribeToNewsletter" novalidate>
    <div class="selections">
        <h3 class="h5">Sign up for newsletters</h3>
        <div class="checkboxgrid">
            <div class="griditem">
                <input asp-for="Subscriber.DailyNewsletter" />
                <label asp-for="Subscriber.DailyNewsletter" class="text-s"> Daily Newsletter</label>
            </div>
            <div class="griditem">
                <input asp-for="Subscriber.AdvertisingUpdates" />
                <label asp-for="Subscriber.AdvertisingUpdates" class="text-s"> Advertising Updates</label>
            </div>
            <div class="griditem">
                <input asp-for="Subscriber.WeekInReview" />
                <label asp-for="Subscriber.WeekInReview" class="text-s"> Week in Review</label>
            </div>
            <div class="griditem">
                <input asp-for="Subscriber.EventUpdates" />
                <label asp-for="Subscriber.EventUpdates" class="text-s"> Event Updates</label>
            </div>
            <div class="griditem">
                <input asp-for="Subscriber.StartupsWeekly" />
                <label asp-for="Subscriber.StartupsWeekly" class="text-s"> Startups Weekly</label>
            </div>
            <div class="griditem">
                <input asp-for="Subscriber.Podcasts" />
                <label asp-for="Subscriber.Podcasts" class="text-s"> Podcasts</label>
            </div>
        </div>
    </div>
    <div class="submitbox">
        <label asp-for="Subscriber.Email">
            <i class="fa-regular fa-envelope"></i>
            <input asp-for="Subscriber.Email" id="email" placeholder="Your Email">
        </label>

        <button type="submit" class="btn-theme">Subscribe *</button>
    </div>
    <p class="text-s">* Yes, I agree to the <a href="">terms</a> and <a href="">privacy policy</a>.</p>
    <div>
        <p class="text-s">@TempData["StatusMessage"]</p>
    </div>

</form>