<form action="" id="address">
    <fieldset>
        <legend><h5>Address</h2></legend>

        <label for="address1">
            <p class="form-label">Address line 1</p>
            <input type="text" id="address1" name="address1" placeholder="Enter your address line">
        </label>

        <label for="address2">
            <p class="form-label">Address line 2</p>
            <input type="text" id="address2" name="address2" placeholder="Enter your second address line">
        </label>

        <div class="box">
            <label for="postalcode">
                <p class="form-label">Postal code</p>
                <input type="text" id="postalcode" name="postalcode" placeholder="Enter your postal code">
            </label>

            <label for="city">
                <p class="form-label">City</p>
                <input type="text" id="city" name="city" placeholder="Enter your city">
            </label>
        </div>

        <div class="buttons-box">
            <button class="btn btn-gray">Cancel</button>
            <button type="submit" class="btn-theme">Save changes</button>
        </div>
    </fieldset>
</form>