@using SiliconMVC.Models
@model UserDetailsViewModel

<form method="post" id="address" asp-controller="User" asp-action="DetailsSaveAddress" novalidate>
    <fieldset>
        <legend><h2 class="h5">Address</h2></legend>
        
        <div id="details-address1" class="input-box">
            <label asp-for=Address!.AddressLine1></label>
            <input asp-for="Address!.AddressLine1" />
        </div>

        <div id="details-address2" class="input-box">
            <label asp-for=Address!.AddressLine2></label>
            <input asp-for="Address!.AddressLine2" />
        </div>

        <div class="box">
            <div id="details-postalcode" class="input-box">
                <label asp-for=Address!.PostalCode></label>
                <input asp-for="Address!.PostalCode" />
            </div>

            <div id="city" class="input-box">
                <label asp-for=Address!.City></label>
                <input asp-for="Address!.City" />
            </div>
        </div>

        <div class="buttons-box">
            <button type="reset" class="btn btn-gray">Cancel</button>
            <button type="submit" class="btn-theme">Save changes</button>
        </div>
    </fieldset>
</form>