@using SiliconMVC.Models
@model UserAddressModel

<form method="post" id="address" asp-controller="User" asp-action="Address" novalidate>
    <fieldset>
        <legend><h5>Address</h2></legend>
        
        <div id="details-address1" class="input-box">
            <label asp-for=AddressLine1></label>
            <input asp-for="AddressLine1" />
        </div>

        <div id="details-address2" class="input-box">
            <label asp-for=AddressLine2></label>
            <input asp-for="AddressLine2" />
        </div>

        <div class="box">
            <div id="details-postalcode" class="input-box">
                <label asp-for=PostalCode></label>
                <input asp-for="PostalCode" />
            </div>

            <div id="city" class="input-box">
                <label asp-for=City></label>
                <input asp-for="City" />
            </div>
        </div>

        <div class="buttons-box">
            <button class="btn btn-gray" asp-controller="User" asp-action="Details">Cancel</button>
            <button type="submit" class="btn-theme">Save changes</button>
        </div>
    </fieldset>
</form>