<form action="" id="login-form">
    <fieldset>
        <legend><h1>Welcome back</h1></legend>
        <p class="text-m">Don’t have an account yet? <a href="">Sign up here.</a></p>
        <label for="email">
            <p class="form-label">Email</p>
            <input type="email" id="email" name="email" placeholder="Enter your email adress" required>
        </label>

        <label for="password">
            <p class="form-label">Password</p>
            <input type="password" id="password" name="password" placeholder="********" required>
        </label>

        <div class="remember-box">
            <input type="checkbox" id="remember-me" name="remember-me">
            <label class="text-m" for="remember-me">Remember me</label>
        </div>
        <button type="submit" form="login-form" value="Sign in" class="btn-theme">Sign in</button>
    </fieldset>
</form>