@model SignInViewModel

<form method="post" id="login-form" asp-controller="User" asp-action="SignIn" novalidate>
    <fieldset>
        <legend><h1>Welcome back</h1></legend>
        <p class="text-m">Don’t have an account yet? <a asp-controller="User" asp-action="SignUp">Sign up here.</a></p>
        
        <div id="signin-email" class="input-box">
            <label asp-for=Form.Email></label>
            <span asp-validation-for=Form.Email></span>
            <input asp-for="Form.Email" />
        </div>

        <div id="signin-password" class="input-box">
            <label asp-for=Form.Password></label>
            <span asp-validation-for="Form.Password"></span>
            <input asp-for="Form.Password" />
        </div>

        <div id="signin-remember" class="checkbox-box">
            <input asp-for=Form.Remember>
            <label class="text-m" asp-for=Form.Remember></label>
        </div>

        <button type="submit" class="btn-theme">Sign in</button>
    </fieldset>
</form>