section.whatuget {
    background-color: var(--gray-100);

    .grid {
        display: grid;
        grid-template-columns: 1fr;

        
        
        @include md {
            grid-template-columns: 1fr 1fr;
        }

        @include lg {
            grid-template-columns: 1fr 1fr 1fr;
        }

        a {
            @include transition;
            padding: 2rem;
            background-color: var(--gray-100);

            &:hover {
                @include shadow-s;
                background-color: var(--white);
                border-radius: 8px;
                text-decoration: none;
            }



            @include md {
                
            }

            @include lg {
                border: none;

                
            }
        }
    }

    @media(max-width: 768px) {
        a:not(:last-of-type) {
            border-bottom: 1px solid var(--gray-400);
        }
    }

    @media(min-width: 768px) and (max-width: 992px) {
        a:nth-child(odd) {
            border-right: 1px solid var(--gray-400);
        }

        a:nth-child(-n+4) {
            border-bottom: 1px solid var(--gray-400);
        }
    }

    @media(min-width: 992px) {     
        a:not(:nth-child(3n+3)) {
            border-right: 1px solid var(--gray-400);
        }

        a:nth-child(-n+3) {
            border-bottom: 1px solid var(--gray-400);
        }
    }
}